:root {
    --blue: #4F8FF0;
    --black: #010101;
    --white: #E6E6E6;
    --black-text: #222222;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1390px;      /* твоя максимальная ширина с десктопа */
    margin-inline: auto;    /* центрирование (современный аналог margin: 0 auto) */
    padding-inline: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;    /* твоя максимальная ширина с десктопа */
    margin-inline: auto;    /* центрирование (современный аналог margin: 0 auto) */
}

.wrapper-head-first {
    width: 100%;
    max-width: 1390px;      /* твоя максимальная ширина с десктопа */
    margin-inline: auto;    /* центрирование (современный аналог margin: 0 auto) */
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.wrapper-head-second {
    width: 100%;
    max-width: 1390px;      /* твоя максимальная ширина с десктопа */
    margin-inline: auto;    /* центрирование (современный аналог margin: 0 auto) */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1rem 1.25rem 1rem;
}

.header_first-line {
    background: var(--black);
}

.header_second-line {
    background-color: #010101C2;
    backdrop-filter: blur(4px);
}

.phone-text {
    font-weight: 600;
    line-height: 120%;
    color: white;
    font-size: 0.875rem;
}

.header_links {
    display: flex;
    gap: 1rem;
}

.header_phone {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.header_mail {
    display: none;
    align-items: center;
    gap: .5rem;
}

.header_link {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 120%;
    text-align: right;
    color: var(--blue);
}

.logo-main {
    font-weight: 900;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: -.5rem;
    font-size: clamp(1.375rem, 4vw, 1.75rem);
}

.logo-descript {
    font-weight: 900;
    line-height: 150%;
    text-transform: lowercase;
    color: white;
    font-size: clamp(1rem, 3vw, 1.25rem);
}

.logo {
    display: flex;
    flex-direction: column;
}

.white-text {
    color: white;
}

.blue-text {
    color: var(--blue);
}

.hero {
    padding: 12rem 0 4rem 0;
    height: 100svh;
    background-image: url('./images/BG-hero.png');
    background-position: left;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.hero_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

h1 {
    font-size: clamp(1.75rem, 4vw, 3.5rem);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--blue);
    line-height: 150%;
}

.hero_subtitle {
    font-weight: 300;
    font-size: clamp(1.125rem, 2vw, 2rem);
    line-height: 150%;
    text-transform: uppercase;
    color: white;
}

.hero .main-text {
    color: white;
}

.main-text {
    max-width: 800px;
    font-weight: 400;
    line-height: 150%;
    color: var(--black-text);
    font-size: clamp(1rem, 1.5vw, 1.25rem);
}

button {
    padding: 1rem 1.75rem;
    font-weight: 900;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 120%;
    border: none;
}

.button_blue {
    background: var(--blue);
    color: white;
}

.button_gray {
    background: var(--white);
    color: var(--black-text);
}

nav {
    display: none;
    gap: 2rem;
}

.header_nav-item {
    font-weight: 700;
    font-size: 1.125rem;
    color: white;
}

.services {
    padding: 2.5rem 0;
    background: #F7F7F7;
}

.services .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.services_cards {
    display: flex;
    gap: 1.5rem;
    overflow: scroll;
    width: 100%;
}

.services_card {
    min-width: 15.625rem;
    padding: 1.5rem 1rem 2rem 1rem;
    background: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.services_card-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.small-line {
    width: 50px;
    height: 3px;
    background: var(--blue);
}

h3 {
    font-weight: 800;
    line-height: 120%;
    font-size: 1.25rem;
}

h2 {
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
    font-size: clamp(1.25rem, 2vw, 1.75rem);
}

.small-text {
    font-weight: 400;
    line-height: 120%;
    font-size: clamp(0.875rem, 3vw, 1rem);
    max-width: 800px;
}

.about-us {
    padding: 2.5rem 0;
    background: white;
}

.about-us_content {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.about-us .heading {
    text-align: start;
    align-items: flex-start;
}

.about-us_buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.about-us_content img {
    display: none;
    width: 100%;
}

.team {
    background: #F7F7F7;
    padding: 2.5rem 0;
}

.team .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.team_member {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
}

.team_members {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

h4 {
    font-weight: 700;
    line-height: 120%;
    font-size: 1rem;
    color: #222222;
}

.team_member-image img {
    width: 100%;
}

.team_member-image {
    height: 235px;
}

.team_member-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 1rem;
    background: #FFFFFF;
    width: 100%;
    text-align: center;
    gap: 0.625rem;
}

.team_member-text h4, .small-text {
    width: 100%;
}

.blog {
    padding: 2.5rem 0;
}

.blog .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.blog_content {
    display: flex;
    width: 100%;
    gap: 1.5rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.blog_content-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    text-align: start;
    min-width: 250px;
}

.blog_item-image {
    display: flex;
    width: 100%;
}

.blog_item-image img {
    width: 100%;
    height: auto;
}

.date-text {
    font-weight: 300;
    line-height: 120%;
    font-size: 0.75rem;
}

footer {
    background: #222222;
    padding: 2.5rem 0;
    color: white;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}

.gray-line {
    height: 1px;
    background: #8C8C8C;
    width: 100%;
}

.footer_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    height: 100%;
}

.footer_info-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: sticky;
    bottom: 2rem;
}

.footer_info-icon {
    padding: 0.625rem;
    background: #2C2C2C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog_content-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.reviews {
    padding: 2.5rem 0;
    background-image: url(./images/RevBG.png);
    background-position: bottom;
    background-size: cover;
}

.reviews .heading {
    align-items: flex-start;
}

.reviews_comments {
    display: flex;
    width: 100%;
    gap: 1.5rem;
    overflow-y: hidden;
    overflow-x: auto;
}

.reviews_comment {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem;
    background: #FFFFFF;
}

.reviews_comment-head {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.review_avatar-wrapper {
    width: 50px;
    height: 50px;
    display: flex;
}

.review_comment-name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.reviews .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}

.underfooter {
    background: #181818;
    text-align: center;
    color: white;
}

.underfooter .container {
    padding: 1rem 0;
}

.underfooter a {
    color: white;
}

.footer_main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}

.footer_user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.footer_user-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
}

.footer_nav {
    display: none;
}

.footer_link {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: white;
    line-height: 120%;
    font-weight: 700;
}

@media (min-width: 1024px) {
    .footer_main-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem
    }
    
    .underfooter .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .underfooter .small-text {
        width: auto;
    }

    .about-us_buttons {
        flex-direction: row;
        justify-content: flex-start;
    }

    .wrapper-head-first {
        width: 100%;
        max-width: 1390px;      /* твоя максимальная ширина с десктопа */
        margin-inline: auto;    /* центрирование (современный аналог margin: 0 auto) */
        padding-inline: 1rem;
    }

    .wrapper-head-second {
        width: 100%;
        max-width: 1390px;      /* твоя максимальная ширина с десктопа */
        margin-inline: auto;    /* центрирование (современный аналог margin: 0 auto) */
        padding-inline: 1rem;
    }

    .header_mail {
        display: flex;
    }

    .hero_content {
        gap: 2.875rem;
    }

    .heading {
        gap: 1.5rem;
    }

    .services .container {
        gap: 3rem;
    }

    .services_cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .services_card {
        padding: 1.185rem 2rem 2.5rem;
    }
}

@media (min-width: 1400px) {
    .header_first-line {
        width: 100%;
    }

    .header_second-line {
        width: 100%;
    }

    .services_cards {
        overflow: hidden;
    }
    
    .footer_nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .footer_main-content {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .about-us_content img {
        display: flex;
        width: 100%;
    }

    .wrapper-head-first {
        width: 100%;
        max-width: 1390px;      /* твоя максимальная ширина с десктопа */
        margin-inline: auto;    /* центрирование (современный аналог margin: 0 auto) */
        padding-inline: 1rem;
    }

    .about-us_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .wrapper-head-second {
        width: 100%;
        max-width: 1390px;      /* твоя максимальная ширина с десктопа */
        margin-inline: auto;    /* центрирование (современный аналог margin: 0 auto) */
        padding-inline: 1rem;
    }

    .header_burger-menu {
        display: none;
    }

    .hero-content {
        gap: 3rem;
    }

    .services_card {
        padding: 3.125rem 2rem 3.75rem;
    }

    .services_cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav {
        display: flex;
    }

    .team_members {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}